@media (min-width: 576px) and (max-width: 1999.98px) {
    .header__logo {
        color: deepskyblue;
    }
}

header {
    color: black;
    background-color: deepskyblue;
}

.header__logo {
    text-align: center;
}

.header__title {
    white-space: nowrap;
    color: white;
    line-height: 80%;
}

.menu {
    color: red;
    line-height: 150%;
    text-decoration: underline;
    text-decoration-color: black;
}

.menu__link {
    color : purple;
    font-size: x-large;
    font-style: oblique;
}

main {
    color : #6F0901;
    background-color: #FFF59E;
}

.catalog__item {
    font-family: "Comic Sans MS", serif;
    line-height: 100%;
    text-decoration: green wavy underline;
}

.catalog__item__name {
    font-family: "Comic Sans MS", serif;
    line-height: 0;
}

.catalog__item__composition {
    font-family: "Comic Sans MS", serif;
    text-indent: 2%;
}

.warning {
    font-family: "Comic Sans MS", serif;
    text-transform: lowercase;
    font-size: x-small;
}

footer {
    position: sticky;
    bottom: 0;
    color : black;
    background-color: lime;
    text-shadow: #FC0 1px 0 10px;
}

.contacts {
    text-transform: uppercase;
}

.resize {
    width: 60px;
    height: auto;
    filter: drop-shadow(0 0 0.75rem crimson);
}

.gift__information {
    width: screen;
    padding: 25px;
}

.gift__information tr:nth-child(even){
    font-family: cursive;
    font-size: x-large;
}

.dino__pictute {
    width: 40px;
    height: auto;
    filter: drop-shadow(0 0 0.75rem lime);
}

.positive {
    color: green;
}

.negative {
    color: red;
}

nav a.active{
    font-weight: bold;
    text-decoration: underline;
    background-color: #ffcc00;
    color: #000;
}
